$background: #F1F1F1;
$blue: #3b3de6;
$green: #586a49;
$gray: gray;

@mixin verticalCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    background-color: $background;
    @include verticalCenter();
    padding: clamp(20px, 10vw, 50px) 20px 20px;
}

main {
    @include verticalCenter();

    header {
        text-align: center;
        width: 100%;

        .logo {
            margin-top: 50px;
            margin-bottom: 15px;
        }
        
        .titre {
            font-size: clamp(20px, 7vw, 40px);
            letter-spacing: 3px;
            padding-bottom: 10px;
        }

        form {

            .form__search {
                width: 90%;
                height: 35px;
                border: 0;
                border-radius: 5px;
                box-shadow: 0px 3px 5px #bebebe;
                padding: 0px 10px;
                
            }

            .form__loader {

            }
        }
    }

    section {
        width: 75%;

        .results {
            article {
                display: flex;
                flex-direction: column;
                justify-content: left;
                padding-top: 25px;

                .article__titre {
                    color: $blue;
                    text-decoration: underline;
                    font-weight: 700;
                    font-size: 1.3em;
                }

                .article__link {
                    color: $green;
                }

                .article__resume {
                    color: $gray;
                }
            }
        }
    }
}

// fonts
.quicksand {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
  }

.roboto {
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }