body {
    background-color: rgb(149, 203, 237);
}

h1 {
    font-size: 30px;
}
.container {
  background-color: rgba(248, 246, 246, 0.993);
  margin-top: 1.5em;
}

.form_input {
    margin-top: 15px;
}

.input_saisi {
  text-align: center;
  width: 250px;
}

.titre {
  text-align: center;
}

.text_input {
  text-align: center;
}

.input_user {
  text-align: center;
}

.form_button {
  margin-top: 25px;
  margin-bottom: 15px;
  text-align: center;
}

.button_btn {
  margin-left: 24px;
  background-color: rgb(246, 218, 79);
  height: 40px;
}

.affichage_imc {
  text-align: center;
  font-size: 3em;
}

.affichage_remarque {
  text-align: center;
}


/* responsive */
@media (min-width: 650px){
  .container {
    max-width: 600px;
}